.main{
    -fx-padding: 20px;
    -fx-background-image: url("background.jpg");
}

#mainLabel{
    -fx-font-family: Verdana;
    -fx-font-size: 30;
}

#original {
    -fx-background-color: red;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

#userCell {
    -fx-font-size: 20;
}

#rect {
    -fx-stroke: rgb(9, 7, 9);
    -fx-stroke-width: 1.5;
}

#popup{
    -fx-background-color: rgba(20, 28, 79, 0.44);
    -fx-padding: 10;
    -fx-spacing: 10;
    -fx-border-width: 2px;
}

#popupOn{
    -fx-text-fill: rgba(23, 105, 252, 0.83);
    -fx-border-color: #000000;
    -fx-border-radius: 5;
    -fx-padding: 3 6 6 6;
    -fx-font-weight: bold;
}

/*#popupOff{*/
/*    -fx-effect: innershadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 5.0, 0.0 , 0.0 , 1.0 );*/
/*}*/

#sumText{
    -fx-font-weight: bold;
    -fx-font-size: 10;
    -fx-padding: 30 0;
}

.rectColor{
    -fx-fill: rgba(0, 0, 0, 0.25);
}

.rectColor1{
     -fx-fill: rgba(251, 180, 255, 0.52);
 }

.rectColor2{
     -fx-fill: rgba(110, 228, 255, 0.52);
 }

.rectColor3{
    -fx-fill: rgba(255, 172, 20, 0.52);
}

.rectColor4{
    -fx-fill: rgba(250, 255, 69, 0.52);
}

.gameButtons{
    -fx-background-color: #990033;
    -fx-border-color: rgb(0, 0, 0);
    -fx-font-size: 30;
    -fx-padding: 20;
    -fx-font-weight: bold;
    -fx-border-width: 0.5;


}
