/*main background on each scene*/
.main{
    -fx-padding: 20px;
    /*-fx-background-image: url("background.jpg");*/
}

/* Sudoku label on main  */
#mainLabel{
    -fx-font-family: Verdana;
    -fx-font-size: 30;
}

/* cells displayed at the start of the game sudoku */
#original {
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

/* cells chosen by the user */
#userCell {
    -fx-font-size: 20;
}

/* cell rectangles*/
#rect {
    -fx-stroke: rgb(9, 7, 9);
    -fx-stroke-width: 1.5;

}

/* popup styling*/
#popup{
    -fx-background-color: rgba(0, 0, 0, 0.35);
    -fx-padding: 10;
    -fx-border-radius: 5;
    -fx-font-weight: bold;
    -fx-border-color: #000000;
    -fx-padding: 3 6 6 6;
    -fx-spacing: 10;
    -fx-border-width: 2px;
}

/* sum text on killer sudoku styling*/
#sumText{
    -fx-font-weight: bold;
    -fx-font-size: 10;
    -fx-padding: 30 0;
}

/* colors of rectangles used as cells*/

.rectColor{
    -fx-fill: rgba(0, 0, 0, 0.25);
}

.rectColor1{
     -fx-fill: rgba(251, 180, 255, 0.52);
 }

.rectColor2{
     -fx-fill: rgba(110, 228, 255, 0.52);
 }

.rectColor3{
    -fx-fill: rgba(255, 172, 20, 0.52);
}

.rectColor4{
    -fx-fill: rgba(250, 255, 69, 0.52);
}

/* main menu game buttons*/
.gameButtons{
    -fx-background-color: rgba(45, 136, 108, 0.84);
    -fx-border-color: rgb(0, 0, 0);
    -fx-font-size: 30;
    -fx-padding: 20;
    -fx-font-weight: bold;
    -fx-border-width: 0.5;
}

/* "select game" label on main menu*/
#select{
    -fx-font-size: 20;

    -fx-font-weight: bold;

}
