.main{
    -fx-padding: 20px;
    -fx-background-image: url("background.jpg");
}

#mainLabel{
    -fx-font-family: Verdana;
    -fx-font-size: 30;
}

#original {
    -fx-background-color: linear-gradient(#ABABAB, #CACACA);
    -fx-font-size: 20;
}

#zero {
    -fx-text-fill: transparent;
}

#rect {
    -fx-fill: rgba(29, 0, 99, 0.2);
    -fx-stroke: rgb(9, 7, 9);
    -fx-stroke-width: 1.5;
}

#popup{
    -fx-background-color: rgba(20, 28, 79, 0.44);
    -fx-padding: 10;
    -fx-spacing: 10;
    -fx-border-width: 2px;
}

#popupOn{
    -fx-text-fill: rgba(23, 105, 252, 0.83);
    -fx-border-color: #000000;
    -fx-border-radius: 5;
    -fx-padding: 3 6 6 6;
    -fx-font-weight: bold;
}

#popupOff{
    -fx-effect: innershadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 5.0, 0.0 , 0.0 , 1.0 );

}